@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i&display=swap');
/* font-family: 'Roboto Mono', ; */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --light:#fff;
    --dark: #181b24;
    --grey: #899495;
    --orange: #fc5130;
    --SectionGrey: #f2f2f2;
    --SectionWhite: #fff;
    --mainTransition : all 1s linear;
    --green :#2E7258;
    --darkBlue : #204c75;
    --lightGreen : #19888c;
    --timeLine : #204c75;
    /* --timeLine : #F45B69; */
}
body{
    font-family: 'Roboto Mono', monospace;
}
/* nav */
.nav{
    background: var(--light);
}
/* end of nav */
/* header */
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url('./img/header_bcg.png')top/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
}
.banner{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 4rem;
}
.banner__title{
    text-transform: capitalize;
    font-size:4rem;
    letter-spacing: 0.15rem;
    font-style: italic;
}
.banner__jobs{
    color: var(--light);
    text-transform: capitalize;
    font-size: 1.5rem;
}
/* end of header */
/* about */
.about{
    background: var(--SectionWhite);
    padding: 2rem 0;
}
.about__center{
    max-width: 90vw;
    margin: 2rem auto;
}
.about-img{
position: relative;
margin: 2rem 0;
}
.about-img__photo{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

}
.about-img::before{
    content: '';
    position: absolute;
    background: var(--grey);
    width: 100%;
    height: 100%;
    bottom: -10px;
    left: -10px;
    /* transform: translate(-1%, 1%); */
}
.about-info{
    margin: 3rem 0;
}
.about-info__title{
    text-transform: capitalize;
    background: url('./img/title-bcg.svg') no-repeat;
    font-size:3rem;
    letter-spacing: 0.5rem;
}
.about-info__text{
    color:grey;
    font-size:1.2rem;
    line-height: 1.5rem;
    margin: 3rem 0;
}
.about-info__single-link{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-size:1.5rem;
    letter-spacing: 0.2rem;
    border: 3px solid var(--dark);
    margin-right:1rem;
    transition: var(--mainTransition);
   
}
.dark-btn{
    color: var(--light);
    background: var(--dark);
    
}
.light-btn{
    color: var(--dark);
    background: var(--white);
    
}
.light-btn:hover{
    color: var(--light);
    background: var(--dark);
}
.dark-btn:hover{
    color: var(--dark);
    background: var(--white);
}
@media screen and (min-width:992px){
    .about__center{
        display: flex;
        justify-content: space-between;
    }
    .about-img, .about-info{
        /* align-self: center; */
        flex: 0 0 calc(50% - 2%);
        
    }
    .about-info{
        display: flex;
        align-items: flex-end;
    }
}
 /* end of about */
 /* services */
 .services{
     background: var(--SectionGrey);
    padding-top: 2rem;
 }
 .section-title{
text-align: center;
 }
 .section-title__name{
    font-size:4rem;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    font-style: italic;
    background: url('./img/title-bcg.svg')center no-repeat;
 }
 .services__center{
    max-width: 90vw;
    margin:2rem;
 }
 .services__single-service{
    text-align: center;
    margin:3rem auto;
    transition: var(--mainTransition);
    padding:2rem 0;
 }
 .services__single-service:hover{
     background: var(--light);
     box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
 }
 .services__single-service-icon{
     font-size:3rem;
 }
 .services__single-service-title{
     text-transform: uppercase;
     margin: 1rem 0;
     font-weight: 700;
     letter-spacing: 0.2rem;
 }
 .services__single-service-text{
     width: 80%;
     margin: 0 auto;
     text-align: left;
     /* color: var(--grey); */
     letter-spacing: 0.2rem;
     line-height: 1.5rem;
 }
 @media screen and (min-width:768px){
     .services__center{
         display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
     .services__single-service{
         flex:0 0 calc(50% - 0.5rem);
     }
 }
 @media screen and (min-width:992px){
    .services__single-service{
        flex:0 0 calc(33.333% - 0.5rem);
    }
}
 /* end of services */
 /* numbers */
 .experience{
     padding:3rem 0;
     background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./img/experiance.jpg')center/cover no-repeat fixed;
    color: var(--light);
}
.number__single-number{
    margin:2rem auto;
    text-align: center;
    max-width: 95vw;
}
.number__single-number-icon{
    font-size: 3rem;
}
.number__single-number-text{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin:0.5rem 0;
}
.number__single-number-title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
@media screen and (min-width:576px){
.number__center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.number__single-number{
    flex:0 0 calc(50% - 0.5rem);
}
}
@media screen and (min-width:992px){
    .number__single-number{
        flex:0 0 calc(33.33% - 0.5rem);
    }
    }
 /* end of numbers */
 /* projects */
 .projects{
     padding: 3rem 0;
     background: var(--light);
 }
 .projects__center{
     max-width: 90vw;
     margin:2rem auto;
 }
 .projects__single-project{
     margin:2rem auto;
     position: relative;
 }
 .projects__single-project-img{
     display: block;
     width: 100%;
     border-radius: 0.5rem;
 }
 .projects__single-project::before{
     content: '';
     pointer-events: none;
     width: 100%;
     height: 100%;
     background: var(--dark);
     position: absolute;
     transform: scale(0);
     transition: var(--mainTransition);
     opacity: 0.6;
     z-index: 1;
     border-radius: 0.5rem;
 }
 .projects__single-project:hover:before{
    transform: scale(1);
 }
 .projects__single-project-icon{
     font-size:5rem;
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     color:var(--light);
     opacity: 0;
     transition: var(--mainTransition);
 }
 .projects__single-project:hover .projects__single-project-icon{
     opacity: 1;
 }

 @media screen and (min-width:768px){
    .projects__center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .projects__single-project{
        flex:0 0 calc(50% - 0.5rem);
    }
}
@media screen and (min-width:992px){
    .projects__single-project{
            flex:0 0 calc(25% - 0.5rem);
    }
}
 /* end of projects */

 
 /* contact */
.contact{
background: var(--SectionGrey);
padding: 3rem 0;
}
.contact__center{
    max-width: 80vw;
    margin: 2rem auto;
}
.contact__header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}
.contact__name, .contact__email, .contact__textarea{
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--dark);
    font-size: 1.2rem;
    margin : 2rem 0;
    padding : 0.25rem 0;
}
.contact__name, .contact__email{
flex: 0 0 calc(50% - 1rem);
}
.contact__textarea{
    width: 100%;
}
.contact__btn{
    background: var(--dark);
    color:var(--light);
    text-transform: uppercase;
    padding:0.5rem 1rem;
    display: block;
    margin : 0 auto;
    font-size: 1.5rem;
    margin-top:2rem;
    letter-spacing: 0.3rem;
    transition: var(--mainTransition);
    border-color: var(--dark);
}
.contact__btn:hover{
    background: var(--light);
    color:var(--dark);
    
}
.contact__icon{
    margin-right: 0.5rem;
}
 /* end of the contact */
 /* footer */
 .footer{
     background: var(--dark);
     padding: 3rem 0;
 }
 .icons{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     max-width: 80vw;
     margin: 0 auto;
 }
 .footer__single-icon{
     font-style: none;
     color: var(--light);
     font-size:2rem;
     transition: var(--mainTransition);
 }
 .footer__single-icon:hover{
     color: var(--orange);
 }
 /* end of footer */
 /* navbar */
 .navbar{
     background: var(--darkBlue);
    position: relative;
    
 }
 .nav__header{
display: flex;
justify-content: space-between;
border-bottom: 0.5rem solid var(--dark);
padding: 0.25rem 1rem;
 }
 .nav__btn{
     font-size:3rem;
     align-self: center;
     cursor: pointer;
 }
 .nav__links{
     list-style-type: none;
     background: var(--grey);
    transition: var(--mainTransition);
    height: 0;
    overflow: hidden;
 }
 .nav_Name{
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 0.2rem 0.5rem;
    color: var(--light);
    transition: var(--mainTransition);
 }
 .nav_SirName{
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 0.2rem 3.5rem 0.2rem 0;
    color: var(--lightGreen);
    transition: var(--mainTransition);
 }
 .nav__single-link{
     display: block;
     text-decoration: none;
     text-transform: capitalize;
     font-size: 1.5rem;
     letter-spacing: 0.2rem;
     padding: 0.5rem 0.5rem;
     color: var(--light);
     /* font-style: italic; */
     transition: var(--mainTransition);
     cursor: pointer;
 }
 .nav__single-link:hover{
     background: var(--SectionGrey);
     /* padding-left:1.7rem; */
 }
 .show{
     height: 288px;
 }
 @media screen and (min-width:1300px){
     .nav__btn{
         display: none;
     }
     .nav__links{
         height: auto;
         display: flex;
         position: absolute;
         background: transparent;
         top:50%;
         left:50%;
         transform: translate(-50%,-50%);
     }
     .nav__single-link:hover{
        /* padding-left: 1rem; */
        color:var(--orange);
        background: transparent;
     }
 }
 .navbar__logo{
     margin-left:1rem;
 }
 /* end of navbar */
 /* timeline */
 .timeline ul {
    /* background: #456990; */
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: var(--timeLine);
  }
  
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--timeLine) transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--timeLine);
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: var(--timeLine);
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--timeLine) transparent transparent;
    }
  }
 /* end of timeline */